<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="OS_FQC-08797" value="91024 - Windows 10 Pro" />
    <add key="OS_KR5-00001" value="91025 - Windows 10 Pro Downgrade" />
    <add key="OS_J6M-00001" value="91031 - Microsoft Windows 10 Pro Workstation 4C+" />
    <add key="OS_HZV-00001" value="91032 - Microsoft Windows 10 Pro Workstation 4C" />

    <!--Add special buttons below this line.  Make sure to match the SpecialRadioButtons value to the count below here. 
    Put in reverse order of how you want them to appear -->
    <add key="OS_FQC-08798" value="Windows 10 Test Key - Will not activate" />
    <add key="OS_FQC-05607" value="91030 - Windows 10 Motherboard Replacement Key - Support Use Only" />
    <add key="SpecialRadioButtons" value="2" />

    <!--Add Mainboard Manufacturer names below here-->
    <add key="MB_ASUS" value="ASUS" />
    <add key="MB_Gigabyte" value="Gigabyte" />
    <add key="MB_Other" value="ASRock, Clevo, MSI, Supermicro" />
    <add key="MB_OtherApexxS3" value="APEXX S3" />

    <!--This value defines the name of the network that will be verified-->
    <add key="NetworkName" value="loader.com" />
    <add key="DhcpAddress" value="172.19.0.1" />
    
    <!--<add key="NetworkName" value="iboxx.com" />    
    <add key="DhcpAddress" value="10.0.0.13" />-->
    <!--<add key="DhcpAddress" value="10.0.0.21" />-->
    
    <!--This value defines the network share that contains the source files and the destination for the log files-->
    <add key="MapUserName" value="Loader" />
    <add key="MapPassword" value="loader" />
    
    <!--<add key="MapUserName" value="iboxx.com\superstar" />
    <add key="MapPassword" value="8rackr2d2f" />-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- These keys assign the paths to the additional EXE files-->
    <add key="ProduKeyPath"
         value=".\OA3\produkey-x64\ProduKey.exe" />
    <add key="OA3toolPath"
         value=".\OA3\oa3tool.exe" />
    <add key="defaultKey"
         value="nf6hc-qh89w-f8wyv-wwxv4-wfg6p" />
    <add key="defaultKeyCommand"
         value="slmgr.vbs /ipk nf6hc-qh89w-f8wyv-wwxv4-wfg6p" />
    <!--<add key="defaultKeyCommand"
         value="slmgr.vbs" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider"
                 enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""
             cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>